.header {
  background-color: var(--Gray-20);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font);
  border-bottom: none;
  border-radius: 1.5rem;
  margin: 0.5rem;
}

.header-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--secondary-100);
}

.header-title p {
  margin: 0;
  font-size: 0.875rem;
  color: var(--gray-50);
}

.header-search {
  position: relative;
  flex-grow: 1;
  max-width: 250px;
}

.header-search input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 0.875rem;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-50);
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: var(--gray-10);
  background-color: var(--secondary-100);
  border-radius: 50%;
  transition: 0.3s;
}
.icon-button:hover {
  background-color: var(--primary-90);
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-image {
  width: 32px;
  height: 32px;
  background-color: var(--cole-gray-10);
  color: var(--gray-10);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-image:hover {
  background-color: var(--primary-50);
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 0.875rem;
  font-weight: 500;
}

.user-role {
  font-size: 0.75rem;
  color: var(--gray-50);
}

.header-mobil {
  display: none;
}

@media (max-width: 900px) {
  .header-search input {
    display: none;
  }
  .header-search {
    flex-grow: 0;
    color: (--gray-10);
    background: none;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary-100);
    border-radius: 50%;
  }
  .search-icon {
    transform: translate(-50%, -50%);
    left: 50%;
    right: 0;

    top: 50%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .header {
    border-radius: 1.5rem 1.5rem 0 0;
  }
  .header-content {
    justify-content: center;
    align-items: center;
  }

  .header-mobil {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .header-title,
  .header-search,
  .user-profile,
  .header-icons button:not(.menu-toggle) {
    display: none;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--secondary-100);
  }
}
