.sidebar {
  width: 240px;
  background-color: var(--cole-gray-10);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  font-family: var(--font);
  border-radius: 0 1.5rem 1.5rem 0;
  margin: 0.5rem;
  height: calc(100dvh - 1.5rem);
}

.sidebar-logo {
  font-size: 1.5rem;
  color: var(--secondary-100);
  font-weight: 400;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-weight: 700;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar-nav ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
  color: var(--gray-90);
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-nav ul li:hover {
  @media (min-width: 900px) {
    background-color: var(--primary-50);
    color: var(--primary-100);
  }
  color: var(--primary-100);
}

.sidebar-nav ul li.active {
  font-weight: 500;
}

.sidebar-footer {
  margin-top: auto;
  text-align: center;
}

.upgrade-box {
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.upgrade-box img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.upgrade-box p {
  font-size: 0.75rem;
  color: var(--gray-90);
  margin-bottom: 1rem;
}

.upgrade-btn {
  background-color: var(--primary-100);
  color: var(--gray-10);
  border: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.8rem;
}

.upgrade-btn:hover {
  background-color: var(--primary-90);
}

.logout-btn {
  background-color: var(--Gray-20);
  color: var(--gray-90);
  border: none;
  padding: 0.7rem;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: var(--gray-50);
  color: var(--gray-10);
}

@media (max-width: 900px) {
  .sidebar {
    width: 80px;
    padding: 1rem 0.5rem;
    align-items: center;
  }

  .sidebar-logo span {
    display: none;
  }

  .sidebar-nav ul li {
    justify-content: center;
    padding: 0.7rem 0;
  }

  .sidebar-nav ul li i {
    font-size: 1.2rem;
  }

  .sidebar-nav ul li span {
    display: none;
  }

  .upgrade-box,
  .upgrade-box p,
  .upgrade-btn,
  .logout-btn span {
    display: none;
  }
}
